@CHARSET "UTF-8";

.Jnt {
	background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../image/pro2.jpg);
	height: 100vh;
	background-size: cover;
	background-position: center;
	
}

.Jnb {
	font-family: 'Nanum Pen Script', cursive;
	font-family: 'Anton', sans-serif;
	color: #fff;
}



.logo img{
	position: absolute;
	top: 10%;
	left: 15%;
	transform: translate(-50%,-50%);
	width: 150px;
	height: auto;
}

.Pts P{
		font-family: 'Nanum Pen Script', cursive;
		font-family: 'Anton', sans-serif;
		font-size: 90px;
		position: absolute;
		color: #fff;
		top: 30%;
		left: 35%;
		transform: translate(-50%,-50%);
}

.okb{
	position: absolute;
	color: #fff;
	top: 60%;
	left: 50%;
	transform: translate(-50%,-50%);
	height:200px;
	width: 1000px;
	font-family: 'Nanum Pen Script', cursive;
	font-family: 'Anton', sans-serif;
}



.okb h4{
	font-size: 25px;
}

.okb p{
	font-size: 13px;
}

.bottom {
	font-family: 'Nanum Pen Script', cursive;
	font-family: 'Anton', sans-serif;
	position: absolute;
	top: 95%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 800px;
	color: #fff;
}