@CHARSET "UTF-8";

.Jnt {
	background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../image/aqqq.jpg);
	height: 50vh;
	background-size: cover;
	background-position: center;
	
}

.Jnb {
	background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../image/aqqq.jpg);
	height: 10vh;
	background-size: cover;
	background-position: bottom;
	color: #fff;
	font-family: 'Nanum Pen Script', cursive;
	font-family: 'Anton', sans-serif;
	color: #fff;
}


.logo img{
	margin-top: 30px;
	margin-left: 200px;
	float: left;
	width: 150px;
	height: auto;
}

.Pts P{
		font-family: 'Nanum Pen Script', cursive;
		font-family: 'Anton', sans-serif;
		font-size: 90px;
		position: absolute;
		color: #fff;
		top: 30%;
		left: 25%;
		transform: translate(-50%,-50%);
}

.res P{
		font-family: 'Anton', sans-serif;
		font-family: 'Nanum Pen Script', cursive;
		font-family: 'Do Hyeon', sans-serif;
		font-size: 90px;
}

h3 {
	font-size: 20px;
}

.back {
	background-image: url(../image/plane.jpg);
	height: 100vh;
	background-size: cover;
	background-position: top;
}

.fom {
	width:500px; 
	height:600px;
	color: #fff;
}

.fom2 {
	background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../image/idps.jpg);
	height: 105vh;
	background-size: cover;
	background-position: center;
}

.logo2 img{
	float: right;
	width: 150px;
	height: auto;
}